body{
    background-color: #1f2937;
}
header {
    background-color: #1f2937;
    color: white;
}
nav{
    
}
#entice{
    background-color: #1f2937;
}
#pastwork{
    background-color: white;
}
#testimonial{
    background-color: #e5e7eb;
}
div{
    background-color: white;
}

footer {
    color: white;
}