.header { 
    display: flex;
    flex-direction: column;
}
.headingnav {
    display: flex;
    color: darkblue;
    background-color: darkcyan;
    padding: 20px 0px 20px 100px;
    align-items: center;
}
.header-links {
    display: flex;
    margin-left: auto;
    padding: 10px 100px 30px 20px;

}